.App {
  text-align: center;
  padding: 1%
}

div.rowInForm:hover {
  border: 1px solid rgb(43, 40, 40) !important;
}

p{
  margin-top: 0.2em !important;
}

.mainContainer{
  border: black solid 2px; 
  padding: 1% 
}